// color
$color-black-0: rgb(0, 0, 0);
$color-black-1: #222;
$color-white-0: rgb(255, 255, 255);
$color-orange-1: #fb4226;
$color-orange-2: #fa5238;
$color-orange-3: #ff6600;
$color-green-1: #00ac4d;
$color-green-2: #8bc541;
$color-green-3: #108f3e;
$color-green-4: #8bc541;
$color-green-5: #b4ec51;
$color-green-6: #429321;
$color-grey-1 :#bdbdbd;
$color-grey-2 :#616161;
// variable font-size
$fs-0: 14px; //default
$fs-1: 13px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
